.footer
{
    margin-top: 5vh;
}

.calculator-div
{
    display: flex;
}

.expression-h1
{
    margin: 0;
    font-size: 24px;
    padding-bottom: 0px;
}

.expression-input
{
    font-family: oswald;
    font-size: 24px;
}

.expression-button
{
    font-family: oswald;
    font-size: 24px;
}